
html, body {
    height: 100%;
}

body {
    vertical-align: middle;
}

h2,h2,h4,h5,h6{
   color: #f1f2f3;
}

.btn-danger {
    color: #fff;
    background-color: brown;
    border-color: brown;
}

.login-body{
    vertical-align: middle;
    background-image: url('../images/ndc_bg.png');
    background-size: 400px 100px;
    background-repeat:no-repeat;
    background-position: 107% 0px;
   /* background-color: #0b3a1f;*/
    background-color:#104929;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.result-body{
    background-image: url('../images/ndc_bg.png');
    background-size: 400px 100px;
    background-repeat:no-repeat;
    background-position: 107% 0px;
   /* background-color: #0b3a1f;*/
    background-color:#104929;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    overflow: scroll;
    justify-content: center;
}

.login-body h2,.result-body h2{
    font-size:26px;
    font-weight:bolder;
    color:#ccc;
    letter-spacing:0.4em;
    text-align: center;
    /*text-shadow: 0 0 1px #fff;*/
    padding:5px 10px 5px 20px;
    margin-bottom:30px;
    background: rgba(255,255,255,0.1);
    border-radius: 25px 0 0 25px;
    /*border-bottom: 4px solid #fff;*/
}

h1.main-title{
    width: 60%;
    margin: 10px auto;
    background:#fff;
    color:#104929;
    padding:15px 20px;
    font-weight:bolder;
    text-align:center;
    border-radius:5px 40px 5px 40px;
}


.login-form {
    width: 380px;
    background: transparent;
    box-shadow: 0px 0px 10px #333;
    border-radius: 40px 0 40px 0;
    padding: 40px 40px;
    border: 10px solid #f1f2f3;
    position: relative;
    
}

.login-btn{
    letter-spacing: 0.2em;
    font-weight:bolder;
    margin-top: 10px;
}

.login-input,.login-input:focus{
    background:rgba(255,255,255,0.2);
    border: 1px dashed #f1f2f3;
    border-radius:0;
    box-shadow:none;
    outline-color:none;
    color:#ccc;
    font-weight:bolder;
}

.login-label{
    color:#fff;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-size:11px;
    font-weight:bolder;
}

.login-logo{
    height:60px;
    background:#fff;
    padding:5px 0px 10px;
    border-radius: 10px 0 0px 10px;
    position:absolute;
    top:30px;
    right: -10px;

}

.adamu{
    display:block;
    color:#ccc;
    font-size: 9px;
    text-align:center;
    
}
 
table,tr,td{
    border:none;
    border-collapse:collapse;
}
.result-cover{
    width: 45%;
    margin: 10px auto;
    background: transparent;
    box-shadow: 0px 0px 10px #333;
    border-radius: 40px 0 40px 0;
    padding: 50px 40px 40px;
    border: 6px solid #f1f2f3;
    position: relative;
}

.result-cast{
    position:absolute;
    left:25px;top:0;
    background:white;
    color:#104929;
    padding:2px 15px;
    font-weight:bolder;
    border-radius:0 0 5px 5px;
}

.result-reject{
    position:absolute;
    right:25px;top:0;
    background:white;
    color:#104929;
    padding:2px 15px;
    font-weight:bolder;
    border-radius:0 0 5px 5px;
}

h2.result-title{
    font-size:15px;
    padding:10px 15px;
    border-radius:25px;
    background: rgba(10, 2, 2, 0.8);
}

.can-cover{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom:10px;
}
.can-party{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    background:#f1f2f3;
    box-shadow:0 0 4px #333;
}

.can-party img{
    width:90%;
    
}
.can-name{
    width:200px;
    padding:3px 15px;
    background:rgba(22, 15, 15, 0.8);
    color:#5c9976;
    font-weight:bolder;
    font-size:13px;
    text-shadow:-1px -1px 2px #000 inset;
    text-align:center;
    position:relative;
    left:-5px;
    z-index:-1;
}

.can-stat {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    width:230px;
    padding:0 15px 0 0;
    background:rgba(207, 18, 18, 0.8);
    border-radius:10px 10px 10px 10px;
    position:relative;
    left:-5px;
}

.can-photo{
   height:40px;
   padding: 5px;
   background:#fff;
   border-radius:0 5px 5px 0;
}

.stat-cover{
   background:rgba(10, 2, 2, 0.8);
   border-radius:5px;
   color:#ccc;
   padding:7px;
}

.stat-load{
  background:#104929;
  border-radius:3px;
  padding:3px 5px;
  font-style:italic;
}

.can-num{
  font-size:20px;
  font-weight:bolder;
  height:40px;
  padding: 5px 10px;
  background:#fff;
  color:brown;
  border-radius:0 5px 5px 0;
}


.error{
  border: 3px solid pink;
  background: rgb(221, 142, 142);
  color:brown;
  font-weight:bolder;
  text-align:center;
  padding: 5px 10px;
  font-size: 11px;
  margin: 5px 10px 10px;
}



